.section-link {
  position: relative;
  overflow: hidden;
  transition: background-color;
}

.section-link span {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: left;
  padding-left: 5%;
}
