.slot {
  width: 90%;
  max-width: 300px;
  aspect-ratio: 9/16;
  display: flex;
}

.slot-null {
  background-color: #343434;
  border: 2px solid #515151;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 5vw, 200px);
  font-family: stroke;
  padding: 5%;
  color: #9b9b9b;
}

.slot-card {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
}

.slot:hover {
  opacity: 0.7;
}
