.header {
  display: flex;
  justify-content: center;
  grid-row: 1;
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 15vh;
}

.header__subcontainer {
  width: 60%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.header__bg {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 80%;
  position: absolute;
  clip-path: polygon(7% 0, 93% 0, 100% 100%, 0% 100%);
  z-index: 400;
}

.header__option {
  z-index: 450;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__settings {
  height: 80%;
  justify-content: flex-end;
  padding-right: 10%;
}

.header__settings > button {
  background-color: transparent;
  border: none;
  font-family: stroke;
  cursor: pointer;
  max-height: 100px;
  aspect-ratio: 1/0.5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 3vw, 4rem);
}

.header__settings > button:hover {
  color: var(--hover-color);
}

.header__title {
  background-color: var(--main-color);
  clip-path: polygon(10% 0, 90% 0, 100% 80%, 50% 100%, 0 80%);
  justify-content: center;
  font-size: clamp(1rem, 7vw, 7rem);
}

.header__title > a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.header__title > a:hover {
  color: var(--main-color);
  background-color: #fff;
}

.header__credits {
  height: 80%;
  justify-content: flex-start;
  padding-left: 10%;
  gap: 10px;
}

.header__credits > span {
  max-height: 60px;
  width: 40%;
  position: relative;
  font-size: clamp(1rem, 3vw, 4rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__credits > img {
  max-height: 50px;
  overflow: hidden;
}
