.agent-info {
  width: 90%;
  height: 90%;
  min-width: 400px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2fr;
}

.agent-info__info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.agent-info__info button {
  background: var(--red-gradient);
  border: 2px solid var(--main-color);
  font-family: stroke;
  margin: 2%;
  width: 100%;
  font-size: clamp(20px, 2vw, 60px);
  cursor: pointer;
}

.agent-info__info button:hover {
  border-color: #fff;
}

.info__name {
  width: 100%;
  text-align: center;
  font-size: clamp(30px, 6vw, 80px);
  padding-inline: 5%;
  text-decoration-line: underline;
}

.info__team {
  width: 100%;
  text-align: center;
  font-size: clamp(20px, 3vw, 70px);
  padding-inline: 5%;
}

.agent-info__info img {
  width: 100%;
  align-self: center;
}

.agent-info__attributes {
  display: grid;
  padding: 2%;
  overflow: hidden;
}

.agent-info__attributes .attribute:nth-child(odd) {
  background: var(--red-gradient);
  border-color: var(--main-color);
}

.agent-info__attributes .attribute:nth-child(even) {
  background: var(--blue-gradient);
  border-color: var(--hover-color);
}

.agent-info__attributes .attribute:hover {
  border-color: #fff;
}
