.winner-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner-modal span {
  width: 100%;
  text-align: center;
}

.winner-modal__winner {
  font-size: clamp(20px, 5vw, 100px);
}

.winner-modal__credits {
  font-size: clamp(20px, 3vw, 60px);
}

.winner-modal a {
  background: var(--red-gradient);
  border: 2px solid var(--main-color);
  font-size: clamp(20px, 5vw, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 60%;
  aspect-ratio: 16/9;
}

.winner-modal a:hover {
  border-color: #fff;
}
