.square {
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
}

.square:hover {
  cursor: pointer;
  border-color: #fff;
}

.fade {
  animation: fade var(--fade-duration);
}

.scale-up {
  animation: scale-up 0.2s;
}

@keyframes fade {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: var(--fade-color);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes scale-up {
  from {
    transform: scale(5);
  }

  to {
    transform: scale(1);
  }
}
