.opener {
  position: absolute;
  width: 100vw;
  min-height: 100dvh;
  background: linear-gradient(
    220deg,
    #65204c,
    #6c2d4c 17%,
    #591e47 39%,
    #240919 81%,
    #3e102d 100%
  );
  z-index: 1000;
  display: grid;
  place-items: center;
}

.opener__cards {
  width: 100vw;
  min-height: 100dvh;
  display: grid;
  justify-items: center;
}

.opener__cards > div {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  width: 100vw;
  min-height: 100%;
  padding: 2%;
  gap: 2%;
  animation: show 0.5s forwards;
}

.opener__cards button {
  position: sticky;
  bottom: 0;
  border: 2px solid var(--main-color);
  background: var(--red-gradient);
  font-family: stroke;
  font-size: clamp(40px, 4vw, 100px);
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.opener__cards button:hover {
  border-color: #fff;
}

@keyframes show {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
