.shop {
  padding: 2%;
  gap: 3%;
  padding-top: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  width: 100vw;
  min-height: 100%;
}

.color {
  color: #7b0707;
}
