.attribute {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  cursor: pointer;
}

.attribute span {
  font-size: clamp(20px, 3vw, 80px);
  padding-inline: 5%;
  font-family: stroke;
  display: flex;
  align-items: center;
}

.changed {
  animation: changed 0.2s forwards;
}

@keyframes changed {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
