@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'valorant';
  font-display: swap;
  src: url('./assets/fonts/valorant.woff2') format('woff2');
}
@font-face {
  font-family: 'stroke';
  font-display: swap;
  src: url('./assets/fonts/stroke.woff2') format('woff2');
}
@layer utilities {
  .clip-path-card {
    clip-path: polygon(95% 0, 100% 0, 100% 100%, 14% 100%);
  }
}

.clip-polygon-custom::after {
  content: '';
  position: absolute;
  width: 99%;
  height: 98%;
  background: linear-gradient(45deg, #161526 30%, #6052b6 100%);
  clip-path: inherit;
  z-index: -1;
  pointer-events: none;
}

:root {
  font-family: stroke;
  color-scheme: light dark;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

#root {
  width: 100vw;
  min-height: 100dvh;
  position: relative;
}

* {
  box-sizing: border-box;
}
