.game__actions {
  display: flex;
  background-color: #7979a8;
  width: 90%;
  aspect-ratio: 16/2;
  animation: appear 0.1s forwards;
  overflow: hidden;
  align-items: center;
  padding-inline: 2%;
  gap: 3%;
}

.game__actions img {
  width: 100%;
  max-width: 150px;
  border-bottom: 10px solid transparent;
}

.action {
  flex-grow: 1;
}

.action.info {
  background: var(--blue-gradient);
  border-color: var(--hover-color);
}

.action.info:hover {
  border-color: #fff;
}
